# mandriva rpmlint exception
# ask to package maintener if you want to add exception here
#
from Config import *

import glob
for f in glob.glob('/usr/share/rpmlint/config.d/*.conf'):
    try:
        execfile(f)
    except Exception, E:
        sys.stderr.write('Error loading %s, skipping: %s\n' % (f, E))

setOption('BadnessThreshold', 49)

# Config.py ends here
