# OpenMandriva rpmlint exception configuration
# Ask the rpmlint maintainers if you want to add exceptions here
#

# execfile() implementation for Python 3
def execfile(filepath, globals=None, locals=None):
    if globals is None:
        globals = {}
    globals.update({
        "__file__": filepath,
        "__name__": "__main__",
    })
    with open(filepath, 'rb') as file:
        exec(compile(file.read(), filepath, 'exec'), globals, locals)

from Config import *

import glob
for f in glob.glob('/usr/share/rpmlint/config.d/*.conf'):
    try:
        execfile(f)
    except Exception as E:
        sys.stderr.write('Error loading %s, skipping: %s\n' % (f, E.args[0]))

setOption('BadnessThreshold', 49)

# Config.py ends here
